ENV=local
PROJECT_NAME=riskmx-intelligence
RECORD_SOURCE=SESNSP

DATA_ROOT=/data/lakehouse/riskmx-intelligence
DATASETS_ROOT=/data/datasets/riskmx-intelligence
REPORTS_ROOT=/data/reports/riskmx-intelligence
MODELS_ROOT=/data/models/riskmx-intelligence
ARTIFACTS_ROOT=/data/artifacts/riskmx-intelligence
LOGS_ROOT=/data/logs/riskmx-intelligence
MLFLOW_TRACKING_URI=file:///data/mlruns/riskmx-intelligence
SPARK_WAREHOUSE_DIR=/data/spark-warehouse
